/* リセットcss */
*{
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  width: 100%;
}

p{
 font-family:sans-serif;
 font-size: 18px;
 color: #292522;
 font-weight: lighter;
 line-height: 35px;
 letter-spacing: -1px;
}

a{
  text-decoration: none;
  color: #292522;
}

@media screen and (max-width:479px){
  body{
    width: 100%;
  }

  br{
    display: none;
  }

  p{
    font-size: 12px;
    line-height: 25px;
  }
}




/* ヘッダー */
header{
  width: 100%;
  text-align: center;
}

.main_visual{
  width: 50%;
  margin-top: 150px;
  margin-bottom: 65px;
}

.down{
  display: none;
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 275px;
}

nav li{
  -webkit-transform: skewX(150deg);
  -moz-transform: skewX(150deg);
  transform: skewX(150deg);
  padding: 10px 55px;
  border-right:0.5px solid #29252250;
  line-height: 5px;
}

nav li:last-child{
  border-right: none;
}

nav li a{
  display:inline-block;
  font-size: 16px;
  transform: skewX(-150deg);
}

nav li a:hover{
  color:#84322A;
}

@media screen and (max-width:479px){
    header{
      width: 100%;
      text-align: center;
    }

    nav{
      display: none;
    }

    .main_visual{
      width: 90%;
      margin: 255px auto 200px;
    }

    .down{
      width: 7%;
      display: block;
      margin:0 auto 70px;

    }
}

/* かるたとは */

.karuta{
  text-align: center;
}

.title_karuta_toha{
  padding-top: 15px;
  width: 20%;
}

.about_karuta{
  width: 55%;
  margin: 100px auto 195px;
}

.about_karuta p{
  line-height: 45px;
}

.tokucho_text{
  width: 30%;
}



.tokucho_1{
  display: flex;
  justify-content: center;
  margin-bottom:180Px;
}

.tokucho_2{
  display: flex;
  justify-content: center;
  margin-bottom: 280px;
}

.subtitle-karuta-tokucho{
  width: 17%;
  margin-bottom: 130px;
}

.image_ronyaku{
  width: 33%;
  margin-right: 15px;
}

.subtitle_ronyaku{
  width: 65%;
  padding-top: 25px;
}

.text_ronyaku{
  width: 80%;
  margin: 25px auto 0;
}

.image_dento{
  width: 33%;
  margin-left: 20px;
}

.subtitle_dento{
  width: 70%;
  padding-top: 25px;
}

.text_dento{
  width: 85%;
  margin: 25px auto 0;
}

.responsive_image_dento{
  display: none;
}

@media screen and (max-width:479px){
  .karuta{
    width: 100%;
    margin: 40px auto 0px;
    text-align: center;
  }

  .title_karuta_toha{
    width: 40%;
  }

  .about_karuta{
    width: 60%;
    margin: 50px auto 95px;
  }

  .about_karuta p{
    line-height: 23px;
  }

   .subtitle-karuta-tokucho{
    width: 40%;
    margin-bottom: 50px;
  }

  .tokucho_text{
    width: 70%;
    margin: 0 auto;
  }

  .tokucho_1{
    display: block;
    margin-bottom:60Px;
  }

  .tokucho_2{
    display: block;
    margin-bottom: 60px;
  }

  .subtitle_ronyaku{
    width: 55%;
    padding-top: 25px;
  }

   .image_ronyaku{
    width: 65%;
  }

  .text_ronyaku{
    width: 75%;
    margin: 25px auto 0;
  }

  .image_dento{
    display: none;
  }

  .responsive_image_dento{
    display: block;
    width: 65%;
    margin: 10px auto 20px;
  }

  .subtitle_dento{
    width: 65%;
  }

  .text_dento{
    width: 80%;
    margin: 25px auto 0;
  }
}


/* 百人一首とは */
.hyakunin_toha{
  position: relative;
  text-align: center;
}

.bg_hyakunin{
  width: 100%;
  height: 1850px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title_hyakunin_toha{
  margin-top: 270px;
  width: 25%;
}

.about_hyakunin{
  width: 55%;
  margin: 100px auto 165px;
}

.about_hyakunin p{
  line-height: 45px;
}

.subtitle_ajiwau{
  width: 25%;
}

.hyakunin_cards{
  width: 65%;
  margin: 80px auto 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_box{
  width: 20%;
  height: auto;
  position: relative;
  margin: 15px;
}

.card{
  width: 100%;
}

.meaning-card{
  width:170px;
  height: 216px;
  border: 8px solid #555B37;
  background-color: #FBFBF4;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

.meaning{
  width: 110px;
  margin: 50px auto;
}

.meaning2{
  width: 135px;
  margin: 50px auto;
}

.meaning3{
  width: 135px;
  margin: 35px auto;
}

.meaning-card p{
  font-size: 15px;
  line-height: 25px;
}

.card_box:hover .meaning-card{
  opacity: 1;
}

@media screen and (max-width:479px){
  .bg_hyakunin{
    width: 100%;
    height: 500px;
  }

  .title_hyakunin_toha{
    margin-top: 80px;
    width: 50%;
  }

  .about_hyakunin{
    width: 60%;
    margin: 50px auto 95px;
  }

  .about_hyakunin p{
    line-height: 23px;
  }

  .subtitle_ajiwau{
    display: none;
  }

  .hyakunin_cards{
    display: none;
  }

  .hyakunin_comment{
    display: none;
  }
}

/* ルール */
.rule{
  text-align: center;
}

.rule p{
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.title_rule{
  width: 25%;
  display: inline-block;
  margin: 350px auto 155px
}

.subtitle_kiso{
  width: 12%;
}

.kiso_boxes{
  display: flex;
  justify-content: center;
}

.kiso_box{
  width: 20%;
  margin:  45px 10px 80px;
}

.kiso_text{
  width: 54%;
  margin: 10px auto 50px;
}

.image_kiso{
  width: 76%;
  padding: 0px 30px 0px;
}

.subtitle_asobi{
   width: 12%;
}

.asobi_boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 35px auto 40px;
}

.asobi_box{
  width: 30%;
  margin: 0 10px 5px;
}

.asobi_text{
  width: 60%;
  margin: 15px auto 60px;
}

.image_asobi{
  width: 75%;
  padding: 0px 30px 0px;
}

.rule a{
  font-size: 12px;
  border: 3px solid #666D4C;
  border-radius: 43px;
  padding: 18px 33px;
}

.rule a:hover{
  color:#84322A;
}

@media screen and (max-width:479px){
  .rule{
    text-align: center;
  }

  .title_rule{
    width: 55%;
    display: inline-block;
    margin: 65px auto 80px
  }

  .rule p{
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }

  .subtitle_kiso{
    width: 27%;
  }

  .kiso_boxes{
    display: block;
  }

  .kiso_box{
    width: 60%;
    margin:  45px auto 30px;
  }

  .kiso_text{
    width: 70%;
    margin: 10px auto 50px;
  }

  .image_kiso{
    width: 76%;
    padding: 0px 30px 0px;
  }

  .subtitle_asobi{
    width: 27%;
    margin-top: 10px;
  }

  .asobi_boxes{
    display: block;
    width:  100%;
    margin-bottom: 10px;
  }

  .asobi_box{
    width: 70%;
    margin: 25px 10px 5px;
    margin: 0 auto;
  }

  .asobi_text{
    width: 63%;
    margin: 15px auto 60px;
  }

  .image_asobi{
    width: 75%;
  }

  .rule a{
    font-size: 12px;
    border: 3px solid #666D4C;
    border-radius: 43px;
    padding: 20px 26px;
    margin-bottom: 10px;
  }

  .rule a:hover{
    color:#84322A;
  }
}

/* ステップ */
.step{
  position: relative;
  margin-top: 180px;
  text-align: center;
}

.bg_step{
  width: 100%;
  height: 2200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.step_text{
  width: 40%;
}

.step_img{
  width: 25%;
}

.title_step{
  margin-top: 220px;
  width: 35%;
}

.step_box{
  display: flex;
  margin-top: 120px;
  justify-content: center;
}

.subtitle_step{
  width: 51%;
  display: block;
  margin: 0 auto;
}

.step_flame{
  display: block;
  width: 80%;
  margin: 20px auto;
}

/* .flame_box{
  position: relative;
} */


.step_describe{
  width: 50%;
  border: 1px solid #fcfcfa;
  background-color: #fcfcfa;
  padding: 85px 90px;
  border-radius: 60%;
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  transform: skewX(10deg);
  margin-top: 30px;
  margin-left: 30px;
}

.step_describe p{
  font-size: 16px;
  line-height: 35px;
  transform: skewX(-10deg);
}

.step_describe_3{
  width: 50%;
  border: 1px solid #fcfcfa;
  background-color: #fcfcfa;
  padding: 100px 90px;
  border-radius: 60%;
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  transform: skewX(10deg);
  margin-top: 30px;
  margin-left: 30px;
}

.step_describe_3 p{
  font-size: 16px;
  line-height: 35px;
  transform: skewX(-10deg);
}

.step_illust1{
  width: 45%;
  margin-top: 150px;
}

.step_illust2{
  width: 50%;
  margin-top: 150px;
}

.step_illust3{
  width: 45%;
  margin-top: 150px;
}

.tensen1{
  position: absolute;
  top: 800px;
  left: 850px;
  width: 10%;
  z-index: 3;
}

.tensen2{
  position: absolute;
  top: 1450px;
  left: 850px;
  width: 10%;
  z-index: 3;
}

.step_comment{
  padding-top: 100px;
}

@media screen and (max-width:479px){
  .step{
    margin-top: 100px;
    position: relative;
  }

    .title_step{
    margin-top: 130px;
    margin-bottom: -20px;
    width: 70%;
  }

  .bg_step{
    width: 100%;
    height: 1620px;
  }


  .step_text{
    width: 70%;
    margin-left: 5%;
  }

  .step_img{
    width: 25%;
  }


  .step_box{
    display: block;
    margin-top: 130px;
    justify-content: center;
  }

  .subtitle_step{
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .step_flame{
    display: block;
    width: 80%;
  }


  .step_describe{
    width: 65%;
    padding: 45px 60px;
    margin-bottom: 40px;
  }

  .step_describe p{
    font-size: 13px;
    line-height: 25px;
  }


  .step_describe_3{
    width: 65%;
    padding: 55px 60px;
  }

  .step_describe_3 p{
    font-size: 13px;
    line-height: 25px;
  }

  .step_illust1{
    width: 30%;
    position: absolute;
    top:380px;
    left: 220px;
     z-index: 2;
  }

  .step_illust2{
    width: 35%;
    margin-top: 150px;
    position: absolute;
    top:750px;
    left: 28px;
    z-index: 2;
  }

  .step_illust3{
    width: 30%;
    position: absolute;
    top:1180px;
    left: 220px;
  }

  .tensen1{
    position: absolute;
    top: 800px;
    left: 850px;
    width: 10%;
    z-index: 3;
    display: none;
  }

  .tensen2{
    position: absolute;
    top: 1450px;
    left: 850px;
    width: 10%;
    z-index: 3;
    display: none;
  }

  .step_comment{
    padding-top: 100px;
  }
}

/* フッター */

footer{
  width: 100%;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 25px;
}

footer p{
  line-height: 10px;
  font-size: 20px;
}

footer span{
  font-size: 19px;
}

@media screen and (max-width:479px){
  footer{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 20px;
  }

  footer p{
    line-height: 10px;
    font-size: 15px;
  }

  footer span{
    font-size: 15px;
  }
}

/* フワッと */

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}