/* リセットcss */
*{
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  width: 100%;
}

p{
 font-family:sans-serif;
 font-size: 18px;
 color: #292522;
 font-weight: lighter;
 line-height: 35px;
 letter-spacing: -1px;
}

a{
  text-decoration: none;
  color: #292522;
}




/* ヘッダー */
header{
  width: 100%;
  text-align: center;
}

.main_visual{
  width: 50%;
  margin-top: 150px;
  margin-bottom: 65px;
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 275px;
}

nav li{
  -webkit-transform: skewX(150deg);
  -moz-transform: skewX(150deg);
  transform: skewX(150deg);
  padding: 10px 55px;
  border-right:0.5px solid #29252250;
  line-height: 5px;
}

nav li:last-child{
  border-right: none;
}

nav li a{
  display:inline-block;
  font-size: 16px;
  transform: skewX(-150deg);
}

nav li a:hover{
  color:#84322A;
}

/* かるたとは */

.karuta{
  text-align: center;
}

.title_karuta_toha{
  width: 20%;
}

.about_karuta{
  width: 55%;
  margin: 100px auto 195px;
}

.about_karuta p{
  line-height: 45px;
}

.tokuchi_text{
  width: 30%;
}



.tokucho_1{
  display: flex;
  justify-content: center;
  margin-bottom:180Px;
}

.tokucho_2{
  display: flex;
  justify-content: center;
  margin-bottom: 280px;
}

.subtitle-karuta-tokucho{
  width: 17%;
  margin-bottom: 130px;
}

.image_ronyaku{
  width: 30%;
  margin-right: 10px;
}

.subtitle_ronyaku{
  width: 65%;
  padding-top: 25px;
}

.text_ronyaku{
  width: 80%;
  margin: 25px auto 0;
}

.image_dento{
  width: 30%;
  margin-left: 10px;
}

.subtitle_dento{
  width: 70%;
  padding-top: 25px;
}

.text_dento{
  width: 85%;
  margin: 25px auto 0;
}

/* 百人一首とは */
.hyakunin_toha{
  position: relative;
}

.bg_hyakunin{
  width: 100%;
  height: 1800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title_hyakunin_toha{
  margin-top: 280px;
  width: 25%;
}

.about_hyakunin{
  width: 55%;
  margin: 100px auto 165px;
}

.about_hyakunin p{
  line-height: 45px;
}

.subtitle_ajiwau{
  width: 25%;
}

.hyakunin_cards{
  width: 60%;
  margin: 80px auto 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_box{
  width: 20%;
  height: auto;
  position: relative;
  margin: 10px;
}

.card{
  width: 100%;
}

.meaning-card{
  width:157px;
  height: 200px;
  border: 8px solid #555B37;
  background-color: #FBFBF4;
  border-radius: 26px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
}

.card_box:hover .meaning-card{
  opacity: 1;
}

/* ルール */
.rule{
  text-align: center;
}

.title_rule{
  margin-top: 370px;
  width: 23%;
}